__pycache__
.neptune
#.ipynb_checkpoints
lightning_logs/
*csv
!data_val_train_kfold/*.csv
!data/*.csv

!AE_base_results/*.csv
!results_ensemble/*/*.csv
!ensemble/*/*.csv
!Z-archive_results_ensemble/*/*.csv
!paper_generate_graphs/data/*.csv