dask==2022.5.2
dask_cuda==22.6.0
distributed==2022.7.1
joblib==1.0.1
neptune_client==0.15.2
numpy==1.21.5
optuna==2.10.0
pandas==1.2.4
pyro==3.16
pyro_ppl==1.8.1
pytorch_lightning==1.6.0
scikit_learn==1.1.1
scipy==1.8.1
torch==1.11.0+cu113
